<div class="row" style="margin-top:-30px">
  <div class="col-lg-12 text-center" style="padding-top:55px">
    <p style="font-size:50pt">
      <strong>Flower Finder <i class='fa fa-search'></i> </strong>
    </p>
  </div>
  <p>
    <h3><strong>Select the colour of your flower to begin</strong></h3><br>
  </p>


  <div class="row">
    <%= link_to find_path(colour: "red") do %>
      <span>
        <div class="col-lg-2 circle" id="red" style="background-color:#FF4C4C;margin-right:20px">
           &nbsp; 
        </div>
      </span>
    <% end %>
    <%= link_to find_path(colour: "orange") do %>
      <span>
        <div class="col-lg-2 circle" style="background-color:#FFB732;margin-right:20px">
           &nbsp; 
        </div>
      </span>
    <% end %>
    <%= link_to find_path(colour: "yellow") do %>
      <span>
        <div class="col-lg-2 circle" style="background-color:#FFFF32;margin-right:20px">
           &nbsp; 
        </div>
      </span>
    <% end %>
    <%= link_to find_path(colour: "green") do %>
      <span>
        <div class="col-lg-2 circle" style="background-color:#46A346;margin-right:20px">
           &nbsp; 
        </div>
      </span>
    <% end %>
    <%= link_to find_path(colour: "blue") do %>
      <span>
        <div class="col-lg-2 circle" style="background-color:#4B0082;margin-right:20px">
           &nbsp; 
        </div>
      </span>
    <% end %>
    <%= link_to find_path(colour: "white") do %>
      <span>
        <div class="col-lg-2 circle" style="background-color:#ffffff;border-style:solid;border-color:#000000">
           &nbsp; 
        </div>
      </span>
    <% end %>
  </div>

</div>
  